html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	color: #000000;
	text-decoration: none;
}

.index {
	background-color: #f0f3ef;
	display: block;
}

#top {
	width: 1423px;
	height: 30px;
	border-bottom: 1px solid #ddd;
	background-color: #e3e4e5;
	display: block;
}

.topnav {
	margin: auto;
	width: 1190px;
	height: 30px;
	line-height: 30px;
	color: #999;
	display: block;
	font-size: 12px;
}

.topfl {
	float: left;
}

.topfl_icon {
	position: relative;
	float: left;
	margin-left: 200px;
}

.topfl_text {
	position: relative;
	float: left;
	height: 28px;
	line-height: 28px;
	padding-left: 7px;
	padding-right: 7px;
	border: 1px solid #e3e4e5;
	border-bottom: none;
	overflow: hidden;
}

.icon {
	float: left;
	margin-top: 6px;
	margin-right: 6px;
	height: 16px;
	width: 14px;
}

.text {
	line-height: 24px;
}

.topfl_hide {
	display: none;
	position: absolute;
	border: 1px solid #ccc;
	background-color: #fff;
	left: 0;
	width: 300px;
	padding: 10px;
	top: 30px;
	line-height: 24px;
	z-index: 10;
}

.hide_top {
	width: 300px;
	height: 196px;
	line-height: 24px;
	left: auto;
	color: #999;
	overflow: hidden;
}

.hide_top .item {
	float: left;
	width: 60px;
	padding: 2px 0;
	display: block;
	line-height: 24px;
}

.hide_top .item .item_tebie {
	background-color: #f10215;
	color: #fff;
	float: left;
	padding: 0 8px;
}

.hide_top .item a {
	display: block;
	height: 24px;
	line-height: 24px;
	float: left;
	padding: 0 8px;
	color: #999999;
}

.hide_down {
	margin: 10px 0 10px 10px;
}

.hd_nation {
	width: 294px;
	height: 24px;
	line-height: 24px;
	border-top: 1px solid #eee;
	margin: 9px 0;
}

.hd_list {
	overflow: hidden;
	line-height: 24px;
}

.hd_list_item {
	float: left;
	width: 145px;
	height: 26px;
	line-height: 26px;
}

.item_link {
	float: left;
	display: block;
	overflow: hidden;
	line-height: 26px;
}

.il_icon {
	width: 14px;
	height: 14px;
	float: left;
	position: relative;
	top: 7px;
	margin-right: 8px;
	width: 15px;
}

.il_text {
	float: left;
	width: 120px;
	line-height: 26px;
}

.topfl_icon:hover .topfl_text {
	background-color: #fff;
	border: 1px solid #ccc;
	border-bottom: none;
}

.topfl_icon:hover .topfl_hide {
	display: block;
	border-top: none;
}

.topfl_icon:hover #top {
	border-bottom: none;
}

.hide_top .item:hover .item_tebie {
	color: #fff;
	background-color: #f10215;
}

.hide_top .item a:hover {
	color: #f10215;
	background-color: gainsboro;
}

.item_link:hover .il_text {
	color: #f10215;
}

.topfr {
	width: 719px;
	height: 30px;
	float: right;
	line-height: 30px;
	color: #999;
}

.topfr_item1 {
	float: left;
	margin-right: 8px;
}

.link_login {
	font-size: 12px;
	color: #999;
	line-height: 30px;
}

.link_regist {
	font-size: 12px;
	color: #f10215;
	line-height: 30px;
}

.topfr .bar {
	float: left;
	overflow: hidden;
	margin: 11px 5px 0;
	width: 1px;
	height: 10px;
	background-color: #ccc;
}

.topfr_item2 {
	float: left;
	padding-left: 7px;
	padding-right: 7px;
}

.link_order {
	font-size: 12px;
	color: #999;
	line-height: 30px;
}

.link_order:hover {
	color: #f10215;
}

.topfr_item3 {
	float: left;
	position: relative;
}

.tfr_show {
	height: 28px;
	line-height: 28px;
	padding-left: 7px;
	padding-right: 20px;
	overflow: hidden;
	position: relative;
	float: left;
	border: 1px solid #e3e4e5;
	border-bottom: none;
}

.tfr_show a {
	display: block;
	width: 48px;
	color: #999;
	line-height: 28px;
}

.tfr_show .tfricon {
	position: absolute;
	right: 5px;
	top: 8px;
	width: 12px;
	height: 12px;
	line-height: 12px;
}

.tfr_hide {
	display: none;
	width: 280px;
	left: 0;
	top: 30px;
	line-height: 24px;
	border: 1px solid #ccc;
	border-top: none;
	position: absolute;
	background-color: #fff;
	z-index: 99;
}

.th_top {
	width: 280px;
	height: 92px;
	padding: 10px 0 10px 15px;
	overflow: hidden;
	line-height: 24px;
}

.tht_left {
	width: 126px;
	height: 72px;
	float: left;
	line-height: 24px;
	color: #999;
}

.tht_left .item {
	width: 126px;
	height: 24px;
	line-height: 24px;
}

.tht_left .item a {
	color: #999;
}

.tht_right {
	width: 126px;
	height: 72px;
	float: left;
	line-height: 24px;
	color: #999;
}

.tht_right .item {
	width: 126px;
	height: 24px;
	line-height: 24px;
}

.tht_right .item a {
	color: #999;
}

.topfr_item3:hover .tfr_hide {
	/*不出来隐藏部分*/
	display: block;
}

.tfr_show:hover {
	background-color: #fff;
}

.tfr_show a:hover {
	color: #f10215;
}

.tht_left .item a:hover {
	color: #f10215;
}

.tht_right .item a:hover {
	color: #f10215;
}

.th_bottom {
	width: 280px;
	height: 68px;
	line-height: 24px;
	border-top: 1px solid #f1f1f1;
	padding: 10px 0 10px 15px;
	overflow: hidden;
}

.thb_left {
	width: 126px;
	height: 48px;
	float: left;
}

.thb_left .item {
	width: 126px;
	height: 24px;
	line-height: 24px;
}

.thb_left .item a {
	color: #999;
}

.thb_right {
	width: 126px;
	height: 48px;
	float: left;
}

.thb_right .item {
	width: 126px;
	height: 24px;
	line-height: 24px;
}

.thb_right .item a {
	color: #999;
}

.thb_left .item a:hover {
	color: #f10215;
}

.thb_right .item a:hover {
	color: #f10215;
}

.topfr_item4 {
	width: 62px;
	height: 30px;
	float: left;
	position: relative;
	line-height: 30px;
}

.tfr_mem {
	width: 62px;
	height: 30px;
	padding-left: 7px;
	padding-right: 7px;
}

.tfr_mem a {
	color: #999;
}

.tfr_mem a:hover {
	color: #f10215;
}

.topfr_item5 {
	float: left;
	position: relative;
	line-height: 30px;
}

.tfr_show1 {
	left: 11px;
	width: 77px;
	height: 30px;
	overflow: hidden;
	position: relative;
	z-index: 1;
	float: left;
}

.tfr_show1 a {
	width: 48px;
	height: 16px;
	line-height: 16px;
	color: #999;
	font-size: 12px;
}

.tfr_show1 .tfricon1 {
	position: absolute;
	right: 10px;
	top: 8px;
	width: 12px;
	height: 12px;
	line-height: 12px;
}

.tfr_show1 a:hover {
	color: #f10215
}

.tfr_hide1 {
	top: 30px;
	line-height: 24px;
	left: 0;
	width: 140px;
	padding: 10px 0 10px 15px;
	position: absolute;
	border: 1px solid #ccc;
	border-top: none;
	display: none;
	background-color: #fff;
	z-index: 99;
}

.tfr_hide11 .item {
	display: inline-block;
	width: 56px;
	white-space: nowrap;
}

.tfr_hide11 .item a {
	color: #999;
}

.tfr_hide11 .item a:hover {
	color: #f10215;
}

.topfr_item5:hover .tfr_hide1 {
	display: block;
}

.topfr_item5:hover {
	background-color: #fff;
	border: 1px solid #ccc;
	border-bottom: none;
}

.topfr_item6 {
	float: left;
	position: relative;
	width: 77px;
	height: 30px;
}

.tfr_show2 {
	height: 28px;
	line-height: 28px;
	padding-left: 7px;
	padding-right: 20px;
	overflow: hidden;
	position: relative;
	z-index: 1;
	float: left;
	border: 1px solid #e3e4e5;
	border-bottom: none;
}

.tfr_show2 a {
	color: #999;
}

.tfr_show2 .tfricon2 {
	position: absolute;
	left: 60px;
	top: 8px;
	width: 12px;
	height: 12px;
	line-height: 12px;
}

.tfr_hide2 {
	right: -1px;
	width: 172px;
	height: 249px;
	padding: 10px 0;
	top: 30px;
	line-height: 24px;
	display: none;
	position: absolute;
	border: 1px solid #ccc;
	border-top: none;
	background-color: #fff;
	z-index: 99;
}

.item_client {
	float: left;
	width: 170px;
	height: 24px;
	padding-left: 15px;
	font-weight: 700;
	color: #666;
	line-height: 24px;
}

.tfr_hide2 .item {
	float: left;
	display: inline-block;
	width: 70px;
	height: 24px;
	padding-left: 15px;
	line-height: 24px;
}

.tfr_hide2 .item a {
	color: #999;
}

.topfr_item6:hover .tfr_hide2 {
	display: block;
}

.topfr_item6:hover {
	background-color: #fff;
}

.topfr_item6 .tfr_show2 a:hover {
	color: #f10215;
}

.tfr_hide2 .item a:hover {
	color: #f10215;
}

.topfr_item7 {
	float: left;
	position: relative;
}

.tfr_show3 {
	height: 28px;
	line-height: 28px;
	padding-left: 7px;
	overflow: hidden;
	position: relative;
	z-index: 1;
	float: left;
	border: 1px solid #e3e4e5;
}

.tfr_show3 a {
	display: block;
	width: 50px;
	height: 33px;
	float: left;
	color: #999;
}

.tfr_show3 .tfricon3 {
	width: 12px;
	height: 12px;
	float: left;
	margin-left: 5px;
}

.tfr_hide3 {
	right: -84px;
	width: 1193px;
	padding: 15px 0;
	top: 30px;
	line-height: 24px;
	display: none;
	position: absolute;
	border: 1px solid #ccc;
	background-color: #fff;
	z-index: 99;
}

.formula1 {
	border-left: none;
	width: 340px;
	float: left;
	padding-left: 25px;
	color: #999;
}

.formula1 dt {
	margin-bottom: 5px;
	font-weight: 700;
	color: #666;
	line-height: 24px;
}

.formula1 .forl {
	width: 340px;
	height: 120px;
	overflow: hidden;
	display: block;
	color: #999;
}

.formula1 .forl .item {
	overflow: hidden;
	float: left;
	width: 85px;
	white-space: nowrap;
	line-height: 24px;
}

.formula1 .forl .item a {
	color: #999;
}

.formula2 {
	float: left;
	width: 255px;
	padding-left: 20px;
	border-left: 1px solid #eee;
	line-height: 24px;
}

.formula2 dt {
	margin-bottom: 5px;
	font-weight: 700;
	color: #666;
}

.formula2 .forl {
	overflow: hidden;
	width: 255px;
	height: 120px;
}

.formula2 .forl .item {
	overflow: hidden;
	float: left;
	width: 85px;
	white-space: nowrap;
}

.formula2 .forl .item a {
	color: #999;
}

.formula3 {
	float: left;
	width: 255px;
	padding-left: 20px;
	border-left: 1px solid #eee;
	line-height: 24px;
}

.formula3 dt {
	margin-bottom: 5px;
	font-weight: 700;
	color: #666;
}

.formula3 .forl1 {
	overflow: hidden;
	width: 255px;
	height: 120px;
}

.formula3 .forl1 .item {
	overflow: hidden;
	float: left;
	width: 85px;
	white-space: nowrap;
}

.formula3 .forl1 .item a {
	color: #999;
}

.formula4 {
	float: left;
	width: 255px;
	padding-left: 20px;
	border-left: 1px solid #eee;
	line-height: 24px;
}

.formula4 dt {
	margin-bottom: 5px;
	font-weight: 700;
	color: #666;
}

.formula4 .forl1 {
	overflow: hidden;
	width: 255px;
	height: 120px;
}

.formula4 .forl1 .item {
	overflow: hidden;
	float: left;
	width: 85px;
	white-space: nowrap;
}

.formula4 .forl1 .item a {
	color: #999;
}

.topfr_item7:hover .tfr_hide3 {
	display: block;
	border-top: none;
}

.topfr_item7:hover {
	background-color: #fff;
	border-bottom: none;
}

.tfr_hide3 .item a:hover {
	color: #f10215;
}

.topfr_item8 {
	float: left;
	position: relative;
	width: 70px;
	line-height: 30px;
}

.tfr_show4 {
	padding-left: 7px;
	padding-right: 7px;
	width: 60px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #999;
}

.tfr_show5 {
	position: absolute;
	left: 3px;
	width: 66px;
	height: 66px;
	border: 1px solid #cfcfcf;
}

.tfr_show5:before {
	content: "";
	position: absolute;
	display: block;
	top: -9px;
	left: 50%;
	margin-left: -5px;
	width: 0;
	height: 0;
	font-size: 0;
	border-width: 5px;
	border-style: solid;
	border-top-color: rgb(228, 228, 228);
	border-right-color: rgb(228, 228, 228);
	border-bottom-color: rgb(246, 246, 246);
	border-left-color: rgb(228, 228, 228);
}

.tfr_show5 .jd1 {
	width: 60px;
	height: 60px;
	margin: 3px;
}

.tfr_hide4 {
	display: none;
	position: absolute;
	left: auto;
	right: 0;
	top: 30px;
	width: 190px;
	border: 1px solid #cfcfcf;
	background-color: #fff;
	z-index: 99;
}

.tfr_hide4:before {
	content: "";
	position: absolute;
	display: block;
	top: -9px;
	left: 83%;
	margin-left: -5px;
	width: 0;
	height: 0;
	font-size: 0;
	border-width: 5px;
	border-style: solid;
	border-top-color: rgb(228, 228, 228);
	border-right-color: rgb(228, 228, 228);
	border-bottom-color: rgb(246, 246, 246);
	border-left-color: rgb(228, 228, 228);
}

.tfrh1 {
	width: 190px;
	position: relative;
	padding: 15px 0;
	border-bottom: 1px solid #E7E7E7;
}

.tfrh1_l {
	position: absolute;
	left: 5px;
	top: 14px;
	width: 74px;
	height: 74px;
	border: 1px solid #CCC;
	background-color: #F7F7F7;
}

.tfrh1_l .jd1 {
	width: 70px;
	height: 70px;
	margin: 2px 0 0 2px;
}

.tfrh1_r {
	margin: 0 10px 0 86px;
	min-height: 70px;
}

.tfrh1_title {
	width: 94px;
	height: 17px;
	font-size: 12px;
	line-height: 17px;
	color: #666;
}

.tfrh1_content {
	margin: 3px 0;
	line-height: 14px;
	color: #F10214;
}

.tfrh1_content1 {
	display: block;
	overflow: hidden;
	height: 25px;
	width: 94px;
}

.iphone {
	color: #999;
	overflow: hidden;
	float: left;
	margin-right: 2px;
	width: 25px;
	height: 25px;
	text-indent: -999px;
	background-image: url(../img/phoneicon.png);
	background-position: 0 0;
}

.android {
	color: #999;
	overflow: hidden;
	float: left;
	margin-right: 2px;
	width: 25px;
	height: 25px;
	text-indent: -999px;
	background-image: url(../img/phoneicon.png);
	background-position: 0 -26px;
}

.ipad {
	color: #999;
	overflow: hidden;
	float: left;
	margin-right: 2px;
	width: 25px;
	height: 25px;
	text-indent: -999px;
	background-image: url(../img/phoneicon.png);
	background-position: 0 -52px;
}

.tfrh2 {
	width: 190px;
	height: 74px;
	position: relative;
	padding: 15px 0;
	border-bottom: 1px solid #E7E7E7;
}

.tfrh2_l {
	position: absolute;
	left: 5px;
	top: 14px;
	width: 74px;
	height: 74px;
	border: 1px solid #CCC;
	background-color: #F7F7F7;
}

.tfrh2_l img {
	width: 70px;
	height: 70px;
	margin: 2px 0 0 2px;
}

.tfrh2_r {
	margin: 0 10px 0 86px;
	min-height: 70px;
}

.tfrh2_title {
	font-size: 12px;
	line-height: 17px;
	color: #666;
}

.tfrh2_content {
	margin: 3px 0;
	line-height: 14px;
	color: #F10214;
}

.tfrh3 {
	position: relative;
	padding: 15px 0;
	border-bottom: 1px solid #E7E7E7;
}

.tfrh3_l {
	position: absolute;
	left: 5px;
	top: 14px;
	width: 74px;
	height: 74px;
	border: 1px solid #CCC;
	background-color: #F7F7F7;
}

.tfrh3_l img {
	width: 70px;
	height: 70px;
	margin: 2px 0 0 2px;
}

.tfrh3_r {
	margin: 0 10px 0 86px;
	min-height: 70px;
}

.tfrh3_title {
	font-size: 12px;
	line-height: 17px;
	color: #666;
}

.tfrh3_content {
	margin: 3px 0;
	line-height: 14px;
	color: #F10214;
}

.tfrh3_content1 {
	overflow: hidden;
	height: 25px;
}

.iphone1 {
	color: #999;
	overflow: hidden;
	float: left;
	margin-right: 2px;
	width: 25px;
	height: 25px;
	text-indent: -999px;
	background-image: url(../img/phoneicon.png);
	background-position: 0 0px;
}

.android1 {
	color: #999;
	overflow: hidden;
	float: left;
	margin-right: 2px;
	width: 25px;
	height: 25px;
	text-indent: -999px;
	background-image: url(../img/phoneicon.png);
	background-position: 0 -26px;
}

.topfr_item8:hover .tfr_hide4 {
	display: block;
}


/*header*/

.header {
	width: 1423px;
	height: 140px;
}

.header-main {
	position: relative;
	margin: auto;
	height: 140px;
	width: 1190px;
}

.logo {
	position: absolute;
	left: 0;
	top: -31px;
	width: 190px;
	height: 170px;
	background-color: #fff;
	border-bottom: 1px solid #ededed;
}

.logo_title {
	width: 100%;
	height: 100%;
	position: absolute;
}

.logo_title a {
	background-repeat: no-repeat;
	background-position: 0 0;
	overflow: hidden;
	display: block;
	width: 190px;
	height: 170px;
	background-image: url(../img/jdlogo.png);
	font-size: 0;
}

.search {
	width: 1190px;
	height: 60px;
	position: relative;
}
.search-fix {
    position:fixed;
    z-index:100;
    left:0;
    top:0;
    width:100%;
    border-bottom:2px solid #f10214;
    background-color:#fff;
    box-shadow:2px 2px 2px rgba(0, 0, 0, .2);
    background-image: url(../img/JDsmall1.png);
    background-repeat: no-repeat;
    background-position: 130px 8px;
}

.jiekou {
	width: 498px;
	height: 270px;
	float: left;
	position: absolute;
	top: 34px;
	z-index: 99;
	border: 1px solid #ccc;
	background-color: #fff;
	box-shadow: 1px 2px 1px rgba(0, 0, 0, .2);
}

.jiekou li {
	margin-top: 5px;
	margin-left: 8px;
}

.jiekou li a {
	font-size: 14px;
	color: #666666;
}

.search_box {
	position: absolute;
	left: 320px;
	top: 25px;
	width: 550px;
	height: 35px;
}

.search_bg {
	padding: 4px 44px 4px 4px;
	width: 450px;
	height: 25px;
	border: 1px solid transparent;
	line-height: 25px;
	font-size: 14px;
	position: absolute;
	background-color: #fff;
}

.search_text {
	padding: 4px 44px 4px 4px;
	width: 450px;
	height: 25px;
	border: 1px solid transparent;
	line-height: 25px;
	font-size: 14px;
	position: absolute;
}

.search_photo {
	position: absolute;
	right: 65px;
	top: 8px;
	width: 22px;
	height: 20px;
	overflow: hidden;
	display: block;
	background: url(../img/searchphoto.png) no-repeat;
	cursor: pointer;
}

.search_button {
	right: 0;
	width: 50px;
	height: 35px;
	border: none;
	position: absolute;
	background: url(../img/searchfdj.png);
}

.shop_cart {
	position: absolute;
	right: 99px;
	top: 25px;
}

.shop_cart1 {
	width: 188px;
	height: 33px;
	background-color: #fff;
	text-align: center;
	line-height: 33px;
	position: relative;
	border: 1px solid #e3e4e5;
}

.sc_lefticon {
	display: block;
	width: 20px;
	height: 20px;
	float: left;
	margin-top: 6px;
	margin-left: 50px;
	background-image: url(../img/gouwucheicon.png);
}

.my_sc {
	float: left;
	margin-left: 2px;
	text-align: center;
	line-height: 33px;
	font-size: 12px;
	color: #f10214;
}

.sc_righticon {
	width: 14px;
	height: 14px;
	position: absolute;
	top: 5px;
	left: 135px;
	right: auto;
	padding: 1px;
	font-size: 12px;
	line-height: 12px;
	color: #fff;
	background-color: #f10215;
	border-radius: 7px;
	text-align: center;
}

.sc_hidden {
	top: 34px;
	right: 0;
	width: 310px;
	height: 70px;
	display: none;
	position: absolute;
	border: 1px solid #ccc;
	background-color: #fff;
	z-index: 99;
}

.sc_hidden1 {
	width: 100%;
	position: relative;
	background-color: #fff;
}

.sc_empty {
	height: 49px;
	margin: auto;
	padding: 10px 0;
	text-align: center;
	line-height: 49px;
	overflow: hidden;
	color: #999;
}

.sc_empty_img {
	display: block;
	float: left;
	margin-left: 35px;
	vertical-align: middle;
	width: 56px;
	height: 49px;
	background-image: url(../img/gouwuchebig.jpg);
	background-size: 56px 49px;
}

.sc_empty_hint {
	display: block;
	float: left;
	margin-left: 6px;
	margin-top: 15px;
	width: 200px;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
}

.shop_cart:hover .sc_hidden {
	display: block;
}

.search_hotwords {
	overflow: hidden;
	position: absolute;
	left: 320px;
	top: 65px;
	width: 550px;
	height: 20px;
	line-height: 20px;
}

.search_hotwords .special {
	font-size: 12px;
	color: #f10215;
	width: 70px;
	white-space: nowrap;
	overflow: hidden;
	float: left;
	margin-right: 10px;
}

.search_hotwords .common {
	float: left;
	margin-right: 10px;
	white-space: nowrap;
	font-size: 12px;
	color: #999;
}

.module {
	overflow: hidden;
	position: absolute;
	left: 200px;
	bottom: 0;
	width: 790px;
	height: 40px;
	padding-top: 20px;
}

.module1 {
	float: left;
}

.module1 li {
	float: left;
	margin-left: 25px;
}

.module1 li a {
	position: relative;
	display: block;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #333;
}

.spacer {
	overflow: hidden;
	margin-top: 15px;
	margin-left: 17px;
	margin-right: -7px;
	width: 1px;
	height: 10px;
	background-color: #ccc;
	float: left;
}

.module2 {
	float: left;
}

.module2 li {
	float: left;
	margin-left: 25px;
}

.module2 li a {
	position: relative;
	display: block;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #333;
}

.module3 {
	float: left;
}

.module3 li {
	float: left;
	margin-left: 25px;
}

.module li a {
	position: relative;
	display: block;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #333;
}


/*content四个部分*/

.contentouter {
	width: 1423px;
	height: 480px;
	position: relative;
	margin-bottom: 30px;
}

.content {
	width: 1190px;
	height: 480px;
	background-color: #f0f3ef;
	position: relative;
	margin: 0 auto;
}


/*content第一部分 左侧导航*/

.content-partone {
	width: 190px;
	height: 480px;
	float: left;
	margin-right: 10px;
}

.lists {
	position: relative;
	box-sizing: border-box;
	padding: 10px 0 0 0;
	background: #fff;
	list-style: none;
	height: 480px;
}

.list {
	height:26px;
	width: 100%;
	line-height: 26px;
	color: #666;
	font-size: 14px;
	padding-left: 12px;
}

.list .menu:hover {
	color: #c81623;
}

.list .fgx {
	margin: 0 4px;
}

.list:hover {
	background: #CFCFCF;
}

.list:hover .box {
	display: block;
}

.list .box {
	display: none;
	width: 1000px;
	height: 480px;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	right: -1000px;
	background: #fff;
	padding: 15px 0 8px 20px;
	z-index: 10;
	overflow: hidden;
}



.box p:nth-child(n+2) {
	padding: 5px 0;
}

.box p:nth-child(n+2) span {
	display: inline-block;
	margin: 3px 0;
}

.box .tips {
	display: inline-block;
	background: #333333;
	font-size: 12px;
	height: 22px;
	line-height: 22px;
	margin-right: 10px;
	padding: 0 10px;
	color: white;
}
.box .tips a{
	color: white;
}

.box span:hover {
	color: red
}

.box .tips:hover {
	background: #5c5251;
	color: #fff;
}

.box a {
	display: inline-block;
	margin-left: 5px;
	font-size: 12px;
}

.box .title {
	vertical-align: top;
	display: inline-block;
	width: 70px;
	text-align: right;
	font-size: 12px;
	line-height: 16px;
	color: #666;
	font-weight: bold;
}

.title a {
	text-align: right;
}

.tags {
	vertical-align: top;
	display: inline-block;
	color: #666;
	font-size: 12px;
	width: 700px;
	line-height: 14px;
	margin-left: 15px;
}

.tag1 {
	padding: 0 10px;
	border-left: 1px solid #e0e0e0;
	font-weight: 700;
	color: #c81623;
	height: 11px;
	line-height: 11px;
	border: 1px dotted #db7078;
}

.tag {
	padding: 0 10px;
	border-left: 1px solid #e0e0e0;
}

.imgBox {
	overflow: hidden;
	box-sizing: border-box;
	width: 198px;
	height: 424px;
	position: absolute;
	top: 20px;
	right: 0;
	padding: 0 14px 0 15px;
}

.sImg {
	display: inline-block;
	float: left;
	width: 83px;
	height: 35px;
	margin-right: 1px;
	margin-top: 1px;
}

.bImg {
	width: 168px;
	height: 134px;
	margin-top: 1px;
	display: block;
	float: left;
}

.imgBox img:nth-of-type(9) {
	margin-top: 10px;
}


/*content第二部分 banner图*/

.content-parttwo1 {
	width: 590px;
	height: 480px;
	float: left;
	margin-right: 10px;
}

.content-parttwo {
	width: 590px;
	height: 470px;
	margin-top: 10px;
	float: left;
	overflow: hidden;
}

.slider {
	width: 590px;
	height: 470px;
	margin: 0 auto;
	position: relative;
	/* 注意此处一定不要忘记定位 */
}
/* 所有li隐藏 */
.slider li {
	position: absolute;
	display: none;
}
/* 显示第一个li */
.slider li:first-child {
	display: block;
}
/* 左右箭头默认隐藏 */
.arrow {
	display: none;
}
/* 鼠标移入p,显示左右箭头 */
.slider:hover .arrow {
	display: block;
}
/* 左右箭头样式 */
.arrow-left,
.arrow-right {
	font-family: "SimSun", "宋体";
	width: 30px;
	height: 60px;
	background-color: rgba(0, 0, 0, 0.1);
	position: absolute;
	top: 50%;
	margin-top: -30px;
	cursor: pointer;
	text-align: center;
	line-height: 60px;
	color: #fff;
	font-weight: 700;
	font-size: 30px;
}
/* 鼠标移入箭头,改变背景颜色 */
.arrow-left:hover,
.arrow-right:hover {
	background-color: rgba(0, 0, 0, .5);
}
.arrow-left {
	left: 0;
}
.arrow-right {
	right: 0;
}
/* 给底部小圆点按钮设置定位 */
.slider .focus {
	position: absolute;
	bottom: 20px;
	left: 46px;
	z-index: 1;
}
/* 给底部小圆点按钮设置样式 */
.slider .focus i {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 2px solid rgba(255, 255, 255, 0.5);
	text-align: center;
}
/* current类名,用于事件处理时,给小圆点按钮动态添加类名,改变样式 */
.current {
	background: #fff;
	transition: .4s all;
}

.content-partthree{
	width: 190px;
	height: 480px;
	float: left;
}
.partthree1,
.partthree2,
.partthree3{
	width: 190px;
	height: 150px;
	margin-top: 10px;
}

.content-partfour{
	width: 190px;
	height: 480px;
	float: left;
	margin-left: 10px;
}
.partfour1{
	width: 190px;
	height: 150px;
	background: #fff;
	margin-top: 10px;
	text-align: center;
	position: relative;
}

.partfour1-img{
	width: 170px;
	height: 55px;
	float: left;
}
.partfour1-img img{
	position: absolute;
	left: 50%;
	top: -10px;
	margin-left: -34px;
	width: 65px;
	height: 65px;
}
.partfour1-text{
	width: 190px;
	height: 40px;
	padding: 0 10px;
	text-align: center;
}
.partfour1-text p{
	float: left;
	width: 170px;
	height: 20px;
	line-height: 20px;
	color: #888;
	font-size: 12px;
}
.partfour1-text1{
	width: 170px;
	height: 20px;
	float: left;
	line-height: 20px;
	color: #888;
	text-align: center;
}
.partfour1-login,
.partfour1-regist{
	padding: 0 2px;
	color: #666;
	font-size: 12px;
}
.partfour1-link{
	width: 190px;
	height: 25px;
	float: left;
	margin-top: 10px;
	font-size: 0;
}
.newpeople{
	display: inline-block;
    margin: 0 5px;
    width: 70px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    text-align: center;
    color: #e43f3b;
    border-radius: 13px;
    box-shadow: 6px 8px 20px rgba(45,45,45,.15);
}
.plusmember{
	display: inline-block;
    margin: 0 5px;
    width: 70px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    text-align: center;
    border-radius: 13px;
    background: #363634;
    color: #e5d790;
    box-shadow: 6px 8px 20px rgba(45,45,45,.15);
}
.partfour1-login:hover{
	color: #F10215;
}
.partfour1-regist:hover{
	color: #F10215;
}
.newpeople:hover{
	background: #F10215;
	color: #fff;
}
.plusmember:hover{
	background: #F10215;
	color: #fff;
}
.partfour2{
	width: 190px;
	height: 130px;
	background: #FFFFFF;
}
.partfour2-news{
	width: 190px;
	height: 27px;
	padding: 8px 0 0;
	line-height: 13px;
	font-size: 0;
}
.news-title{
	float: left;
	display: inline-block;
    font-size: 13px;
    margin-left: 15px;
    color: #1e1e1e;
}
.partfour2-news a{
	display: block;
	float: right;
	margin-right: 15px;
	font-size: 12px;
	color: #999;
}
.partfour2-list{
	width: 160px;
	height: 96px;
	padding-top: 8px;
	margin: 0 15px;
	height: 88px;
}
.partfour2-list1,
.partfour2-list2,
.partfour2-list3,
.partfour2-list4{
	width: 160px;
	height: 21px;
	line-height: 21px;
	color: #999;
	font-size: 12px;
}
.list1-link,
.list2-link,
.list3-link,
.list4-link{
	display: block;
	float: right;
	margin-right: 3px;
	font-size: 12px;
	height: 21px;
	line-height: 21px;
	color: #666;
}
.partfour2-list1 span{
	float: left;
	display: inline-block;
	height: 16px;
	width: 35px;
	line-height: 16px;
	text-align: center;
	color: #fff;
	border-radius: 2px;
	background: #90b0c6;
	margin-right: 6px;
}
.partfour2-list1:hover a{
	color: #F10215;
}
.partfour2-list2 span{
	float: left;
	display: inline-block;
	height: 16px;
	width: 35px;
	line-height: 16px;
	text-align: center;
	color: #fff;
	border-radius: 2px;
	background: #e0b95a;
	margin-right: 6px;
}
.partfour2-list2:hover a{
	color: #F10215;
}
.partfour2-list3 span{
	float: left;
	display: inline-block;
	height: 16px;
	width: 35px;
	line-height: 16px;
	text-align: center;
	color: #fff;
	border-radius: 2px;
	background: chartreuse;
	margin-right: 6px;
}
.partfour2-list3:hover a{
	color: #F10215;
}
.partfour2-list4 span{
	float: left;
	display: inline-block;
	height: 16px;
	width: 35px;
	line-height: 16px;
	text-align: center;
	color: #fff;
	border-radius: 2px;
	background: aqua;
	margin-right: 6px;
}
.partfour2-list4:hover a{
	color: #F10215;
}
.partfour3{
	width: 168px;
	height: 175px;
	padding: 5px 11px 10px;
	background: #fff;
}
.partfour3-service{
	width: 168px;
	height: 165px;
	border-top: 1px solid #CCCCCC;
}
.partfour3-service li{
	float: left;
	width: 42px;
	height: 55px;
	background: #fff;
	text-align: center;
}


/*JD首页限时秒杀部分*/
.jd-seckill{
	height: 275px;
	margin-bottom: 30px;
}
.seckill{
	width: 1190px;
	height: 275px;
	margin: 0 auto;
	background: #fff;
}
.seckillpart1{
	display: block;
	float: left;
	width: 190px;
	height: 275px;
	background: #e83632;
	color: #fff;
}
.seckill-title{
	float: left;
	width: 190px;
	height: 51px;
	margin-top: 42px;
	line-height: 51px;
	font-size: 34px;
	text-align: center;
}
.seckill-eng{
	float: left;
	width: 190px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 20px;
	color: rgba(255, 255, 255, 0.5);;
}
.seckill-icon{
	float: left;
	width: 190px;
	height: 33px;
	text-align: center;
	margin-top: 6px;
}
.seckill-coutdown{
	float: left;
	width: 190px;
	height: 24px;
	margin-top: 11px;
	line-height: 24px;
	text-align: center;
	font-size: 16px;
}
.sk-showtime{
	float: left;
	width: 135px;
	height: 40px;
	margin-top: 18px;
	margin-left: 28px;
	position: relative;
}
.line{
	position: absolute;
	width: 135px;
	height: 1px;
	background: #e83632;
	top: 50%;
}
.sk-hour,
.sk-minute,
.sk-second{
	float: left;
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	background-color: #2f3430;
	margin-right: 5px;
}
.seckillpart2{
	width: 1000px;
	height: 275px;
	float: left;
}
.seckillpart2-lubo1{
	position: relative;
	float: left;
	width: 800px;
	height: 275px;
}
.lubo1-btnleft{
	position: absolute;
	top: 110px;
	width: 20px;
	height: 40px;
	line-height: 40px;
	background-color: rgba(0,0,0,.15);
	margin-top: -20px;
	font-size: 20px;
	color: #F0F0F0;
	z-index: 99;
	border: none;
	cursor: pointer;
}
.lubo1-link1,
.lubo1-link2,
.lubo1-link3,
.lubo1-link4{
	float: left;
	width: 199px;
	height: 275px;
	border-right: solid 1px #f0f0f0;
}
.lubo1-btnright{
	position: absolute;
	top: 110px;
	right: 0;
	width: 20px;
	height: 40px;
	line-height: 40px;
	background-color: rgba(0,0,0,.15);
	margin-top: -20px;
	font-size: 20px;
	text-align: center;
	color: #F0F0F0;
	z-index: 99;
	border: none;
	cursor: pointer;
}
.lubo1-link1 img{
	margin-left: 20px;
}
.lubo1-link1 p{
	width: 199px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	text-align: center;
	color: #5C5251;
}
.lubo1-link1 .price{
	width: 160px;
	height: 20px;
	margin-top: 8px;
	border: 1px solid #F10214;
	margin-left: 15px;
}
.lubo1-link1 .price div{
	float: left;
	width: 79px;
	height: 20px;
	line-height: 20px;
	background-color: #F10214;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	color: #fff;
}
.lubo1-link1 .price span{
	display: block;
	margin-left: 80px;
	width: 79px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	color: #CCCCCC;
	text-align: center;
}
.lubo1-link1:hover p{
	color: #F10215;
}


.lubo1-link2 img{
	margin-left: 20px;
}
.lubo1-link2 p{
	width: 199px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	text-align: center;
	color: #5C5251;
}
.lubo1-link2 .price{
	width: 160px;
	height: 20px;
	margin-top: 8px;
	border: 1px solid #F10214;
	margin-left: 15px;
}
.lubo1-link2 .price div{
	float: left;
	width: 79px;
	height: 20px;
	line-height: 20px;
	background-color: #F10214;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	color: #fff;
}
.lubo1-link2 .price span{
	display: block;
	margin-left: 80px;
	width: 79px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	color: #CCCCCC;
	text-align: center;
}
.lubo1-link2:hover p{
	color: #F10215;
}


.lubo1-link3 img{
	margin-left: 20px;
}
.lubo1-link3 p{
	width: 199px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	text-align: center;
	color: #5C5251;
}
.lubo1-link3 .price{
	width: 160px;
	height: 20px;
	margin-top: 8px;
	border: 1px solid #F10214;
	margin-left: 15px;
}
.lubo1-link3 .price div{
	float: left;
	width: 79px;
	height: 20px;
	line-height: 20px;
	background-color: #F10214;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	color: #fff;
}
.lubo1-link3 .price span{
	display: block;
	margin-left: 80px;
	width: 79px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	color: #CCCCCC;
	text-align: center;
}
.lubo1-link3:hover p{
	color: #F10215;
}


.lubo1-link4 img{
	margin-left: 20px;
}
.lubo1-link4 p{
	width: 199px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	text-align: center;
	color: #5C5251;
}
.lubo1-link4 .price{
	width: 160px;
	height: 20px;
	margin-top: 8px;
	border: 1px solid #F10214;
	margin-left: 15px;
}
.lubo1-link4 .price div{
	float: left;
	width: 79px;
	height: 20px;
	line-height: 20px;
	background-color: #F10214;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	color: #fff;
}
.lubo1-link4 .price span{
	display: block;
	margin-left: 80px;
	width: 79px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	color: #CCCCCC;
	text-align: center;
}
.lubo1-link4:hover p{
	color: #F10215;
}


.seckillpart2-lubo2{
	width: 200px;
	height: 275px;
	float: left;
}
.lubo2-main{
	float: left;
	margin-top: 8px;
	margin-left: 10px;
	width: 180px;
	height: 260px;
	overflow: hidden;
	position: relative;
}
.lubo2-main li{
	display: none;
	position: absolute;
}

.lubo2-main li:first-child{
	display: block;
}
.lubo2-main .lubo2-dot{
	position: absolute;
	bottom: 8px;
	left: 47%;
	z-index: 99;
}
.lubo2-main .lubo2-dot span{
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	text-align: center;
	background: #CCCCCC;
}
.lubo2-main .lubo2-dot .dot{
	background: #F10215;
	transition: 2s all;
}


/*排行榜部分*/
.rankingpart{
	width: 1423px;
	height: 480px;
}
.rankingpart-main{
	margin: 0 auto;
	width: 1190px;
	height: 480px;
}
.rpm-part1,
.rpm-part2{
	float: left;
	width: 390px;
	height: 450px;
	margin: 0 10px 30px 0;
	background-color: #fff;
}
.rpm-part3{
	float: left;
	width: 390px;
	height: 450px;
	margin: 0 0 30px 0;
	background-color: #fff;
}
.rpm-p1,
.rpmp-1,
.rpmpt-1{
	height: 60px;
	padding: 0 20px;
}
.rpm-p1 a{
	display: inline-block;
	width: 211px;
	height: 40px;
	margin-top: 8px;
}
.rpmp-1 a{
	display: inline-block;
	width: 211px;
	height: 40px;
	margin-top: 8px;
}
.rpmpt-1 a{
	display: inline-block;
	width: 211px;
	height: 40px;
	margin-top: 8px;
}
.rpm-p1 h5{
	float: left;
	font-weight: normal;
	font-size: 22px;
	color: #222;
	line-height: 40px;
}
.rpm-p1 img{
	float: left;
	width: 23px;
	height: 23px;
	margin-top: 11px;
	margin-left: 3px;
}
.rpm-p1 span{
	float: left;
	font-size: 14px;
	color: #999;
	height: 20px;
	line-height: 20px;
	margin-left: 5px;
	margin-top: 12px;
}
.rpmp-1 h5{
	float: left;
	font-weight: normal;
	font-size: 22px;
	color: #222;
	line-height: 40px;
}
.rpmp-1 img{
	float: left;
	width: 23px;
	height: 23px;
	margin-top: 11px;
	margin-left: 3px;
}
.rpmp-1 span{
	float: left;
	font-size: 14px;
	color: #999;
	height: 20px;
	line-height: 20px;
	margin-left: 5px;
	margin-top: 12px;
}
.rpmpt-1 h5{
	float: left;
	font-weight: normal;
	font-size: 22px;
	color: #222;
	line-height: 40px;
}
.rpmpt-1 img{
	float: left;
	width: 23px;
	height: 23px;
	margin-top: 11px;
	margin-left: 3px;
}
.rpmpt-1 span{
	float: left;
	font-size: 14px;
	color: #999;
	height: 20px;
	line-height: 20px;
	margin-left: 5px;
	margin-top: 12px;
}
.rpm-p2{
	width: 390px;
	height: 355px;
}
.p2-head{
	height: 34px;
	line-height: 34px;
	text-align: center;
	background-color: #F7F7F7;
}
.p2-head div{
	float: left;
	width: 78px;
	cursor: pointer;
	font-size: 12px;
	line-height: 34px;
	text-align: center;
}
.p2-head a{
	color: #666;
}
.p2-head a:hover{
	color: #F10215;
}
.p2-body{
	width: 390px;
	height: 321px;
}
.body1-main{
	width: 350px;
	height: 321px;
	margin: 0 20px;
	position: relative;
	overflow: hidden;
	
}
.body1m-item1,
.body1m-item2,
.body1m-item3,
.body1m-item4,
.body1m-item5{
	float: left;
	width: 350px;
	height: 320px;
	border-bottom: 1px solid #CCCCCC;
	background: #FFFFFF;
	display: block;
}
.body1m-item1 a,
.body1m-item2 a,
.body1m-item3 a,
.body1m-item4 a,
.body1m-item5 a{
	display: block;
	height: 107px;
	color: #666;
	font-size: 12px;
}
.body1m-item1 img,
.body1m-item2 img,
.body1m-item3 img,
.body1m-item4 img,
.body1m-item5 img{
	float: left;
	width: 80px;
	height: 80px;
	margin-top: 15px;
}
.body1m-item1 p,
.body1m-item2 p,
.body1m-item3 p,
.body1m-item4 p,
.body1m-item5 p{
	color: #e74240;
	float: left;
	width: 30px;
	height: 40px;
	margin: 36px 0 0 10px;
	line-height: 40px;
	font-size: 32px;
	text-align: center;
	font-weight: 900;
}
.body1m-item1 span,
.body1m-item2 span,
.body1m-item3 span,
.body1m-item4 span,
.body1m-item5 span{
	display: block;
	margin-left: 125px;
	padding-top: 40px;
	height: 32px;
	line-height: 16px;
	font-size: 12px;
	color: #333;	
}
.body1m-item2{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}
.body1m-item3{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}
.body1m-item4{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}
.body1m-item5{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}
.p2-head a:hover{
	color: #F10215;
}
.p2-head a:hover .body1m-item2{/* 有问题  不显示   鼠标划过 也不显示！！！！*/
	display: block;
}


.rpmp-2{
	width: 390px;
	height: 370px;
	float: left;
	
}
.rpmp-lunbo1{
	width: 390px;
	height: 370px;
	position: relative;
/* 注意此处一定不要忘记定位 */
}

/* 所有li隐藏 */
.rpmp-lunbo1 li {
	float: left;
	margin-left: 20px;
	position: absolute;
	display: none;
}
/* 显示第一个li */
.rpmp-lunbo1 li:first-child {
	display: block;
}
/* 左右箭头默认隐藏 */
/*.rpmp-arrow {
	display: none;
}*/
/* 鼠标移入p,显示左右箭头 */
/*.slider:hover .rpmp-arrow {
	display: block;
}*/
/* 左右箭头样式 */
.rpmp-left{
	font-family: "SimSun", "宋体";
	width: 20px;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.1);
	position: absolute;
	top: 50%;
	margin-top: -30px;
	cursor: pointer;
	text-align: center;
	line-height: 40px;
	color: #fff;
	font-weight: 700;
	font-size: 20px;
}
.rpmp-right {
	font-family: "SimSun", "宋体";
	width: 20px;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.1);
	position: absolute;
	top: 50%;
	margin-top: -30px;
	cursor: pointer;
	text-align: center;
	line-height: 40px;
	color: #fff;
	font-weight: 700;
	font-size: 20px;
}
/* 鼠标移入箭头,改变背景颜色 */
.rpmp-left:hover,
.rpmp-right:hover {
	background-color: rgba(0, 0, 0, .5);
}
.rpmp-left {
	left: 0;
}
.rpmp-right {
	right: 0;
}
/* 给底部小圆点按钮设置定位 */
.rpmp-focus{
	position: absolute;
	bottom: -10px;
	left: 44%;
}
/* 给底部小圆点按钮设置样式 */
.rpmp-focus i {
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	border: 2px solid #CCCCCC;
	text-align: center;
}
/* current类名,用于事件处理时,给小圆点按钮动态添加类名,改变样式 */
.rpmp-current {
	border: 2px solid transparent;
	background: #F10214;
	transition: .4s all;
}


.rpmpt-2{
	width: 390px;
	height: 370px;
	float: left;
}
.rpmpt-lunbo2{
	width: 390px;
	height: 370px;
	position: relative;
}
.rpmpt-lunbo2 li {
	float: left;
	margin-left: 20px;
	position: absolute;
	display: none;
}
.rpmpt-lunbo2 li:first-child {
	display: block;
}
.rpmpt-dots{
	position: absolute;
	bottom: -10px;
	left: 46%;
}
.rpmpt-dots span {
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	border: 2px solid #CCCCCC;
	text-align: center;
}
.dots1{
	border: 2px solid transparent;
	background: #F10214;
	transition: .4s all;
}

/*运动*/
.fashion-sport{
	height: 1505px;
}
.fashion-title{
	width: 1423px;
	height: 65px;
}
.fashion-title1{
	margin: 0 auto;
	width: 1190px;
	height: 45px;
}
.ft1{
	float: left;
	display: block;
	width: 50px;
	height: 3px;
	background-color: #1E1E1E;
	margin-left: 40%;
	margin-top: 23px;
}
.fashion-title1 h5{
	display: block;
	float: left;
	height: 45px;
	line-height: 45px;
	font-size: 28px;
	font-weight: normal;
	text-align: center;
	color: #222;
	margin-left: 10px;
}
.ft2{
	float: left;
	display: block;
	width: 50px;
	height: 3px;
	background-color: #1E1E1E;
	margin-left: 10px;
	margin-top: 23px;
}
.fashion-part1{
	height: 480px;
}
.fashp{
	margin: 0 auto;
	width: 1190px;
}
.part1-item1,
.part1-item2{
	float: left;
	width: 390px;
	height: 450px;
	margin: 0 10px 30px 0;
	background-color: #fff;
}
.part1-item3{
	float: left;
	width: 390px;
	height: 450px;
	margin-bottom: 30px;
}
.item1-head,
.item2-head{
	height: 60px;
	padding: 0 20px;
}
.item1-head a,
.item2-head a{
	display: inline-block;
	float: left;
	width: 211px;
	height: 40px;
	margin-top: 8px;
}
.item1-head h3,
.item2-head h3{
	float: left;
	font-weight: normal;
	font-size: 22px;
	color: #222;
	line-height: 44px;
}
.item1-head img,
.item2-head img{
	float: left;
	width: 23px;
	height: 23px;
	margin-top: 11px;
	margin-left: 3px;
}
.item1-head span,
.item2-head span{
	float: left;
	font-size: 14px;
	color: #999;
	height: 20px;
	line-height: 20px;
	margin-left: 5px;
	margin-top: 12px;
}
.item1-body,
.item2-body{
	width: 390px;
	height: 380px;
}
.item1-body a,
.item2-body a{
	display: block;
	margin-left: 20px;
	width: 370px;
	height: 380px;
}
.item1-body .fashionimg1,
.item2-body .fashionimg1{
	width: 350px;
	height: 180px;
	float: left;
	margin-bottom: 8px;
}
.item1-body .fashionimg2,
.item2-body .fashionimg2{
	width: 170px;
	height: 180px;
	float: left;
}
.item1-body .fashionimg3,
.item2-body .fashionimg3{
	width: 170px;
	height: 180px;
	float: left;
	margin-left: 8px;
}
.item1-body img:hover{
	opacity:0.7;
	filter: alpha(opacity=70);
}
.item2-body img:hover{
	opacity:0.7;
	filter: alpha(opacity=70);
}
.item3-frame{
	width: 390px;
	height: 450px;
	position: relative;
}
.item3-frame a{
	display: block;
	border: 4px solid #222;
	width: 300px;
	height: 400px;
	position: absolute;
	top: 41px;
	left: 80px;
}
.item3-frame img{
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}



.fashion-part2{
	height: 480px;
}
.fashion-part2 .fashp{
	margin: 0 auto;
	width: 1190px;
}
.fashion-part2 .part1-item1,
.fashion-part2 .part1-item2{
	float: left;
	width: 390px;
	height: 450px;
	margin: 0 0 30px 10px;
	background-color: #fff;
}
.fashion-part2 .part1-item3{
	float: left;
	width: 390px;
	height: 450px;
	margin-bottom: 30px;
}
.fashion-part2 .item1-head,
.fashion-part2 .item2-head{
	height: 60px;
	padding: 0 20px;
}
.fashion-part2 .item1-head a,
.fashion-part2 .item2-head a{
	display: inline-block;
	float: left;
	width: 211px;
	height: 40px;
	margin-top: 8px;
}
.fashion-part2 .item1-head h3,
.fashion-part2 .item2-head h3{
	float: left;
	font-weight: normal;
	font-size: 22px;
	color: #222;
	line-height: 44px;
}
.fashion-part2 .item1-head img,
.fashion-part2 .item2-head img{
	float: left;
	width: 23px;
	height: 23px;
	margin-top: 11px;
	margin-left: 3px;
}
.fashion-part2 .item1-head span,
.fashion-part2 .item2-head span{
	float: left;
	font-size: 14px;
	color: #999;
	height: 20px;
	line-height: 20px;
	margin-left: 5px;
	margin-top: 12px;
}
.fashion-part2 .item1-body,
.fashion-part2 .item2-body{
	width: 390px;
	height: 380px;
}
.fashion-part2 .item1-body a,
.fashion-part2 .item2-body a{
	display: block;
	margin-left: 20px;
	width: 370px;
	height: 380px;
}
.fashion-part2 .item1-body .fashionimg1,
.fashion-part2 .item2-body .fashionimg1{
	width: 350px;
	height: 180px;
	float: left;
	margin-bottom: 8px;
}
.fashion-part2 .item1-body .fashionimg2,
.fashion-part2 .item2-body .fashionimg2{
	width: 170px;
	height: 180px;
	float: left;
}
.fashion-part2 .item1-body .fashionimg3,
.fashion-part2 .item2-body .fashionimg3{
	width: 170px;
	height: 180px;
	float: left;
	margin-left: 8px;
}
.fashion-part2 .item1-body img:hover{
	opacity:0.7;
	filter: alpha(opacity=70);
}
.fashion-part2 .item2-body img:hover{
	opacity:0.7;
	filter: alpha(opacity=70);
}
.fashion-part2 .item3-frame{
	width: 390px;
	height: 450px;
	position: relative;
}
.fashion-part2 .item3-frame a{
	display: block;
	border: 4px solid #222;
	width: 300px;
	height: 400px;
	position: absolute;
	top: 42px;
	left: 0px;
}
.fashion-part2 .item3-frame img{
	position: absolute;
	top: 0;
	left: 50px;
	cursor: pointer;
}



.fashion-part3{
	height: 480px;
}
.fashion-part3 .fashp{
	margin: 0 auto;
	width: 1190px;
}
.fashion-part3 .part1-item1,
.fashion-part3 .part1-item2{
	float: left;
	width: 390px;
	height: 450px;
	margin: 0 10px 30px 0;
	background-color: #fff;
}
.fashion-part3 .part1-item3{
	float: left;
	width: 390px;
	height: 450px;
	margin-bottom: 30px;
}
.fashion-part3 .item1-head,
.fashion-part3 .item2-head{
	height: 60px;
	padding: 0 20px;
}
.fashion-part3 .item1-head a,
.fashion-part3 .item2-head a{
	display: inline-block;
	float: left;
	width: 211px;
	height: 40px;
	margin-top: 8px;
}
.fashion-part3 .item1-head h3,
.fashion-part3 .item2-head h3{
	float: left;
	font-weight: normal;
	font-size: 22px;
	color: #222;
	line-height: 44px;
}
.fashion-part3 .item1-head img,
.fashion-part3 .item2-head img{
	float: left;
	width: 23px;
	height: 23px;
	margin-top: 11px;
	margin-left: 3px;
}
.fashion-part3 .item1-head span,
.fashion-part3 .item2-head span{
	float: left;
	font-size: 14px;
	color: #999;
	height: 20px;
	line-height: 20px;
	margin-left: 5px;
	margin-top: 12px;
}
.fashion-part3 .item1-body,
.fashion-part3 .item2-body{
	width: 390px;
	height: 380px;
}
.fashion-part3 .item1-body a,
.fashion-part3 .item2-body a{
	display: block;
	margin-left: 20px;
	width: 370px;
	height: 380px;
}
.fashion-part3 .item1-body .fashionimg1,
.fashion-part3 .item2-body .fashionimg1{
	width: 350px;
	height: 180px;
	float: left;
	margin-bottom: 8px;
}
.fashion-part3 .item1-body .fashionimg2,
.fashion-part3 .item2-body .fashionimg2{
	width: 170px;
	height: 180px;
	float: left;
}
.fashion-part3 .item1-body .fashionimg3,
.fashion-part3 .item2-body .fashionimg3{
	width: 170px;
	height: 180px;
	float: left;
	margin-left: 8px;
}
.fashion-part3 .item1-body img:hover{
	opacity:0.7;
	filter: alpha(opacity=70);
}
.fashion-part3 .item2-body img:hover{
	opacity:0.7;
	filter: alpha(opacity=70);
}
.fashion-part3 .item3-frame{
	width: 390px;
	height: 450px;
	position: relative;
}
.fashion-part3 .item3-frame a{
	display: block;
	border: 4px solid #222;
	width: 300px;
	height: 400px;
	position: absolute;
	top: 41px;
	left: 80px;
}
.fashion-part3 .item3-frame img{
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}


.more{
	height: 1316px;
}
.more-title{
	width: 1423px;
	height: 65px;
}
.more-title1{
	margin: 0 auto;
	width: 1190px;
}
.mt1{
	float: left;
	display: block;
	width: 50px;
	height: 3px;
	background-color: #1E1E1E;
	margin-left: 40%;
	margin-top: 23px;
}
.more-title1 h5{
	display: block;
	float: left;
	height: 45px;
	line-height: 45px;
	font-size: 28px;
	font-weight: normal;
	text-align: center;
	color: #222;
	margin-left: 10px;
}
.mt2{
	float: left;
	display: block;
	width: 50px;
	height: 3px;
	background-color: #1E1E1E;
	margin-left: 10px;
	margin-top: 23px;
}
.more-content{
	margin: 0 auto;
	width: 1190px;
}
.more-list{
	margin: 0 -5px 0;
	background: antiquewhite;
}
.more-list li{
	position: relative;
	float: left;
	width: 230px;
	height: 305px;
	background: #fff;
	margin: 0 5px 10px;
}
.more-list li span{
	position: absolute;
	bottom: 15px;
	left: 38%;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: #222;
	color: #fff;
	text-align: center;
	line-height: 60px;
	cursor: pointer;
	z-index: 99;
	display: none;	
	font-size: 12px;
}
.more-list .list-item:hover span{
	display: block;
}
.more-list .list-item:hover{
	opacity:0.7;
	
}



/* 底部 */

/*京东右侧固定图标菜单栏*/

.toolbars{
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 6px;
	background-color: #7a6e6e;
	font-size: 12px;
}
.toolbars a{
	text-decoration: none;
	color: #666;
}

.toolbars ul{
  	position:absolute;
  	top: 50%;
  	right: 0;
  	transform: translate(0,-40%);
  	z-index: 3;
}
.toolbars ul li{
	width: 34px;
	height: 35px;
	margin-bottom: 2px;
	background-color: #7A6E6E;
	position: relative;
}
.toolbars ul .jdvip .toolbars-ico{
	display: block;
	width: 34px;
	height: 35px;
	background: url(../img/toolbars.png)no-repeat -88px -175px;
}
.toolbars ul .cart .toolbars-ico{
	display: block;
	width: 34px;
	height: 35px;
	background: url(../img/toolbars.png)no-repeat -50px 0;
}
.toolbars ul .follow .toolbars-ico{
	display: block;
	width: 34px;
	height: 35px;
	background: url(../img/toolbars.png)no-repeat -50px -50px;
}
.toolbars ul .message .toolbars-ico{
	display: block;
	width: 34px;
	height: 35px;
	background: url(../img/toolbars.png)no-repeat -190px -150px;
}
.toolbars ul .jimi .toolbars-ico{
	display: block;
	width: 34px;
	height: 35px;
	background: url(../img/toolbars.png)no-repeat -50px -150px;
}
.toolbars ul .feedback .toolbars-ico{
	display: block;
	width: 34px;
	height: 35px;
	background: url(../img/toolbars.png)no-repeat -50px -300px;
}
.toolbars ul .jdvip i{
	position: absolute;
    top: 5px;
    right: 8px;
	width: 6px;
	height: 6px;
	background: url(../img/toolbars.png)no-repeat -150px -150px;	
}
.toolbars-footer{
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #7A6E6E;
	width: 34px;
	height: 35px;
	z-index: 3;
}
.toolbars-footer .toolbars-ico{
	display: block;
	width: 34px;
	height: 35px;
	background: url(../img/toolbars.png)no-repeat -50px -250px;
}
	/*鼠标悬浮后伸出的部分*/
.toolbars .flex{
	position: absolute;
	top: 0;
	right: 34px;
	width: 0;
	overflow: hidden;
	height: 35px;
	line-height: 35px;
	background-color: #b61d1d;
	text-align: center;	
	color: #fff;
	z-index: -1;
	transition: width .3s;
}
	/*鼠标悬浮后的效果*/
.toolbars ul li:hover{
	background-color: #b61d1d;
}
.toolbars ul li:hover .flex{
	width: 62px;
	background-color: #b61d1d;
}
.toolbars ul li:hover i{
	display: none;
}
.toolbars-footer:hover{
	background-color: #b61d1d;
}
.toolbars-footer:hover .flex{
	width: 62px;
	background-color: #b61d1d;
}

